@use 'utilities' as *;
@use 'config' as *;

#about {
  background-color: $color-4;
  height: 100vh;
  display: flex;
  justify-content: space-around;

  .about-content {
    width: 60rem;
    margin-top: 7rem;
  }

  img {
    margin-top: 7rem;
    height: 800px;
  }
}

// Media Queries

// Tablet: Horizontal
@media (max-width: 1025px) and (max-height: 769px) {
  #about {
    .about-content {
      width: 55rem;
      .section-heading {
        margin-left: 1rem;
      }

      .section-p {
        font-size: 1.3rem;
        margin-left: 1rem;
      }
    }

    img {
      height: 600px;
      margin-top: 11rem;
    }
  }
}

// Tablet: Vertical
@media (max-width: 769px) and (max-height: 1025px) {
  #about {
    .about-content {
      width: 30rem;
      .section-heading {
        margin-left: 1rem;
      }

      .section-p {
        font-size: 1.3rem;
        margin-left: 1rem;
      }
    }

    img {
      height: 800px;
      margin-top: 15rem;
    }
  }
}

// Mobile: Horizontal
@media (max-width: 845px) and (max-height: 391px) {
  #about {
    height: 600px;
    .about-content {
      width: 55rem;
      .section-heading {
        margin-left: 1rem;
        font-size: 2rem;
      }

      .section-p {
        font-size: 1.3rem;
        margin-left: 1rem;
      }
    }

    img {
      display: none;
    }
  }
}

// Mobile: Vertical
@media (max-width: 391px) and (max-height: 845px) {
  #about {
    height: 844px;

    .about-content {
      width: 55rem;
      .section-heading {
        margin-left: 1rem;
        font-size: 2rem;
      }

      .section-p {
        font-size: 1.3rem;
        margin-left: 1rem;
      }
    }

    img {
      display: none;
    }
  }
}
