@use 'config' as *;
@use 'utilities' as *;

// Footer
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: $color-2;
  display: none;

  .links {
    display: flex;
    justify-content: center;

    .link {
      margin-right: 1rem;
      font-size: 1.3rem;
      margin-top: 1.5rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $color-1;
        box-shadow: $button-shadow;
        background-color: $color-3;
        border: 2px solid rgba(51, 51, 51, 0.767);
        height: 35px;
        width: 35px;
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        transition: all 0.3s ease-in-out;

        &:hover {
          scale: 0.9;
        }
      }
    }
  }
}

// Mobile * Only Horizontal *
@media (max-width: 1002px) {
  #footer {
    height: 4rem;

    .links {
      .link {
        margin-top: 1rem;
      }
    }
  }
}
